centurion-source/assets/xml-schemas/editorWindows.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c_editorWindows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="c_editorWindow">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="conditionScript">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="function" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="openingScript" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="simpleText">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="color">
                      <xs:complexType>
                        <xs:attribute name="r" type="xs:integer" use="required" />
                        <xs:attribute name="g" type="xs:integer" use="required" />
                        <xs:attribute name="b" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="text" type="xs:string" use="required" />
                  <xs:attribute name="xOffset" type="xs:integer" use="required" />
                  <xs:attribute name="yOffset" type="xs:integer" use="required" />
                  <xs:attribute name="font" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="scriptText">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="color">
                      <xs:complexType>
                        <xs:attribute name="r" type="xs:integer" use="required" />
                        <xs:attribute name="g" type="xs:integer" use="required" />
                        <xs:attribute name="b" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="src" type="xs:string" use="required" />
                  <xs:attribute name="xOffset" type="xs:integer" use="required" />
                  <xs:attribute name="yOffset" type="xs:integer" use="required" />
                  <xs:attribute name="font" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="image">
                <xs:complexType>
                  <xs:attribute name="image_name" type="xs:string" use="required" />
                  <xs:attribute name="xOffset" type="xs:integer" use="required" />
                  <xs:attribute name="yOffset" type="xs:integer" use="required" />
                  <xs:attribute name="onclick" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="button">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="image_name" type="xs:string" use="required" />
                  <xs:attribute name="xOffset" type="xs:integer" use="required" />
                  <xs:attribute name="yOffset" type="xs:integer" use="required" />
                  <xs:attribute name="onclick" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
			  <xs:element minOccurs="0" maxOccurs="unbounded" name="textList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text">
                      <xs:complexType>
                        <xs:attribute name="font" type="xs:string" use="required" />
                        <xs:attribute name="r" type="xs:integer" use="required" />
                        <xs:attribute name="g" type="xs:integer" use="required" />
                        <xs:attribute name="b" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="text_background">
                      <xs:complexType>
                        <xs:attribute name="r" type="xs:integer" use="required" />
                        <xs:attribute name="g" type="xs:integer" use="required" />
                        <xs:attribute name="b" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="textListId" type="xs:integer" use="required" />
                  <xs:attribute name="xOffset" type="xs:integer" use="required" />
                  <xs:attribute name="yOffset" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="iframe" type="xs:string" use="required" />
            <xs:attribute name="size" type="xs:string" use="required" />
            <xs:attribute name="position" type="xs:string" use="required" />
            <xs:attribute name="isOpened" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>