centurion-source/assets/xml-schemas/iframe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c_iframe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="top_left">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="top_right">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="bottom_right">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="bottom_left">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="top">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="right">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="bottom">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="left">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="background">
          <xs:complexType>
            <xs:attribute name="image_name" type="xs:string" use="required" />
            <xs:attribute name="repeat" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>