centurion-source/assets/xml-schemas/menuPage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c_menuPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="c_buttons">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="c_button">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="image_name" type="xs:string" use="required" />
                  <xs:attribute name="x" type="xs:integer" use="required" />
                  <xs:attribute name="y" type="xs:integer" use="required" />
                  <xs:attribute name="onclick" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="c_images">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="c_image">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="image_name" type="xs:string" use="required" />
                  <xs:attribute name="onclick" type="xs:string" use="required" />
                  <xs:attribute name="x" type="xs:integer" use="required" />
                  <xs:attribute name="y" type="xs:integer" use="required" />
                  <xs:attribute name="size" type="xs:string" use="required" />
				  <xs:attribute name="align" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>