centurion-source/Settings___.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="c_settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="windowWidth" type="xs:integer" />
        <xs:element name="windowHeight" type="xs:integer" />
        <xs:element name="cameraMovespeed" type="xs:integer" />
        <xs:element name="cameraMaxZoom" type="xs:integer" />
        <xs:element name="language" type="xs:string" />
        <xs:element name="debug" type="xs:boolean" />
        <xs:element name="fullScreen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>