centurion-utils/lmx/params.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Params">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Values">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CameraXPosition" type="xs:integer" />
              <xs:element name="CameraYPosition" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Booleans">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MouseLeft" type="xs:boolean" />
              <xs:element name="MouseRight" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ErrorCodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Audio" type="xs:string" />
              <xs:element name="NotFound" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>