centurion-utils/lmx/Params.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="params">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="xPosition" type="xs:integer" />
          <xs:element name="yPosition" type="xs:integer" />
          <xs:element name="scrollValue" type="xs:integer" />
          <xs:element name="xLeftClick" type="xs:integer" />
          <xs:element name="xRightClick" type="xs:integer" />
          <xs:element name="y2dPosition" type="xs:integer" />
          <xs:element name="y2dRightClick" type="xs:integer" />
          <xs:element name="yLeftClick" type="xs:integer" />
          <xs:element name="yRightClick" type="xs:integer" />
          <xs:element name="leftClick" type="xs:boolean" />
          <xs:element name="leftHold" type="xs:boolean" />
          <xs:element name="release" type="xs:boolean" />
          <xs:element name="rightClick" type="xs:boolean" />
          <xs:element name="scrollBool" type="xs:boolean" />
          <xs:element name="heightZoomed" type="xs:decimal" />
          <xs:element name="ratio" type="xs:decimal" />
          <xs:element name="widthZoomed" type="xs:decimal" />
          <xs:element name="shouldClose" type="xs:boolean" />
          <xs:element name="bottomBarHeight" type="xs:integer" />
          <xs:element name="topBarHeight" type="xs:integer" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>